[2016-09-17 17:08] mcritchlow opened #1 "Populate repository with initial CC gem and dependencies"
Please create and populate the pilot repository Gemfile with the required base gems for a CC app.

[2016-09-17 17:12] mcritchlow opened #2 "Language implementation"
- [ ] Implement Language from Data Model
- [ ] Identify any known issues and tag @ucsdlib/domm with questions

[2016-09-17 17:14] mcritchlow opened #3 "Overriding default Collection behavior"
- [ ] Overriding the default collection form with a minimum set of collection properties form the new data model like title, brief description, description, topic, publisher etc.
- [ ] Overriding the default behavior to display/show the properties from the form.
- [ ] Ensure that the edit form works as expected.

[2016-09-17 17:15] mcritchlow commented on #3
@lsitu can you please help fill in the Description? I know you had some specific things you wanted to test out. Thanks.

[2016-09-17 17:17] mcritchlow opened #4 "Implement edm:Place class"
- [ ] Implement edm:Place
- [ ] Create sample records to associate with Object/Collection records
- [ ] Identify and issues and tag @ucsdlib/domm with questions

[2016-09-17 17:21] mcritchlow opened #5 "Question: skos:Concept and edm:TimeSpan predicates"
Questions for @ucsdlib/domm via @lsitu

Currently the skos:Concept and edm:TimeSpan classes have predicates that contain links to instances of the same class. take `hasPart` for example, in edm:TimeSpan.

Longshou expressed some concern with this potential nested linking of class instances, from an implementation standpoint, and that, as far as he's aware, we're not actually using these predicates

[2016-09-17 17:23] mcritchlow opened #6 "R&D: Ordering of objects in CurationConcerns"
- [ ] Identify out-of-the-box functionality that would support our need for ordered objects and components
- [ ] Create sample records for Sprint demo of what is currently possible
- [ ] Document gaps in support that we would either need to build locally or work on in the community to support our complex object use cases

[2016-09-17 17:26] mcritchlow opened #7 "Ask Princeton about Plum depedencies"
Contact Esme or Trey at Princeton and ask about:
- [ ] Kakadu software. Why did they choose it? What licensing model did they choose? Costs?
- [ ] Other IIIF support and needs that we could have in moving to a IIIF-based system for our images.

[2016-09-17 17:33] mcritchlow opened #8 "Identify and demo Sufia-specific features of interest for DAMS5"
Following the current feature checklist: https://wiki.duraspace.org/display/hydra/Built-in+Feature+Checklist+-+Merge+Working+Document

It would be nice to demo some of the Sufia-only features that may be of interest to us. This could also help us provide feedback to the group working on which features merge between the two systems, which are turned into feature toggles, which are made into separat

[2016-09-17 17:42] mcritchlow opened #9 "Latest Blacklight features: alternate search results view(s)"
- Please identify if alternate Blacklight search results views (grid is of primary interest) are now available in the latest version of Blacklight.
- If more views are available, please be prepared to demo at the Sprint review meeting

[2016-09-17 17:46] mcritchlow opened #10 "Latest Blacklight features: Browse By facet pages"
- Can we insert a # per page dropdown as requested in a previous Sprint?
- If this seems possible, please either document what would be needed to implement or, if time permits, create a demo implementation that can be shown at the Sprint Review meeting.

[2016-09-17 17:51] mcritchlow opened #11 "Ask UCSB about their local authority control system"
Identify how UCSB has implemented their local authority control system, as it's a need we have as well.

I'm tagging @dunn and @chrissyrissmeyer so we could perhaps have the discussion here.

[2016-09-17 17:55] mcritchlow opened #12 "Create VM for pilot"
Please create a VM that can be used by @ucsdlib/developers to deploy the pilot CurationConcerns-based application as needed for demos, etc.

The VM will need, at a minimum, the prerequisites identified on the [CurationConcerns README](https://github.com/projecthydra/curation_concerns/#prerequisites)

[2016-09-18 03:24] remerjohnson commented on #5
This is a good point by @lsitu. I don't recall why we have `hasPart` and the inverse within `TimeSpan`.

Maybe @arwenhutt or @MetadataDeluxe would know...

[2016-09-19 00:15] remerjohnson commented on #5
Looking again via [EDM's GitHub](https://github.com/europeana/corelib/wiki/EDMObjectTemplatesProviders#edmTimespan), I am no clearer on why certain predicates exist or their usage. So guessing they can be safely left out?

[2016-09-19 15:05] ghost commented on #5
I think hasPart would be used within edm:TimeSpan to say something like: the 20th century hasPart 1970s (1970-1979).  I don't imagine us ever using this, so I agree that we don't need to implement it hasPart or isPartOf in edm:TimeSpan

[2016-09-19 16:32] lsitu commented on #2
@ucsdlib/domm The class for language is currently defined as dc:LinguisticSystem in the new data model and I don't see any properties for it. How should we model it? Thanks.

[2016-09-19 16:47] lsitu commented on #3
@mcritchlow I just added the description. Please review and correct me if I miss anything. Thanks.

[2016-09-19 16:53] ghost commented on #2
I'm having trouble finding the specs for dc:LinguisticSystems.  I did find these examples though:
http://wiki.dublincore.org/index.php/User_Guide/Publishing_Metadata#dcterms:language

[2016-09-19 17:04] lsitu commented on #5
Thank you all @ucsdlib/domm . Do we have any use cases for "next" that are referencing another TimeSpan at this time?
For skos:Concept and edm:Agent, I see lots of predicates that are linking to the same class as well. Is it possible to simplify it and make it a little flatten with a URL instead?

[2016-09-19 17:46] remerjohnson commented on #2
Same here. All I see is one property, `dcterms:language`, with other examples being blank nodes for the language label.

I think an issue here is that if we do rely on LinguisticSystem as a class, we should either
- reference `dcterms:language` and not `dc:language` as we currently do.
- Or, we could drop LinguisticSystem and instead use `dc:language` and have a more relaxed range.

Some helpful (

[2016-09-19 18:01] mcritchlow commented on #2
The language label(s) we could likely dereference for indexing and UI display. So based on feedback from @remerjohnson and @GregReser could just use/persist a language URI instead via `dcterms:language` and drop the LinguisticSystem class?

[2016-09-19 18:01] lsitu commented on #2
It looks like that the terms a little bit confusing dc11/dc vs. dc/dcterms, and dc11/dc is referenced in the rdf vocabularies that we are using in hydra projects: [DC11](https://github.com/ruby-rdf/rdf-vocab/blob/develop/lib/rdf/vocab/dc11.rb#L10) / [DC](https://github.com/ruby-rdf/rdf-vocab/blob/develop/lib/rdf/vocab/dc.rb#L10)

[2016-09-19 18:28] lsitu commented on #1
@mcritchlow  CC is upgraded to version1.6.1 now, while the version I used for practice is 1.5.0. Do you want me to try 1.6.1 to see whether it works? And also, would you like me to upload my codes for the Object resource in this ticket as well?

[2016-09-19 18:33] mcritchlow commented on #1
@lsitu - Yes definitely to upgrading. I believe there have been some fairly significant changes between the versions.

The existing code you wrote for the Object class is fine. We can iterate or experiment with that as a starting point, if that works for the rest of the @ucsdlib/developers

[2016-09-19 18:33] ghost commented on #2
I agree that the prefixes dc11 and dc are confusing.  dc and dcterms seem much more intuitive.  I guess we are stuck with them since the Hydra projects are using them.

I like @mcritchlow idea to drop LinguisticSystem.  It's too vague to be useful and all we really need is a language URI anyway.  I'm in favor of using the basic dc11 when possible.  I think we established previously that you can us

[2016-09-19 18:38] lsitu commented on #1
@mcritchlow Okay, I'll start from CC 1.6.1 to see whether it works.

[2016-09-19 18:40] mcritchlow commented on #1
@lsitu if you/we encounter any bugs, we can file them in the CC repo (and provide fixes if possible). In general, we should try and stay on the very latest version, especially for this R&D

[2016-09-19 18:41] mcritchlow commented on #2
At one point we tried to reconcile the dc11/dc namespacing in the data dictionary. if this is out of sync again, we probably should file a ticket to get those back in sync. I agree dc11 and dc is confusing, but it is what it is.

[2016-09-19 18:47] remerjohnson commented on #2
Ah okay, the lack of `dcterms:` I was seeing makes more sense now (although the general framework is a bit confusing!). Agreed we could drop the class.

[2016-09-19 18:53] remerjohnson commented on #5
For the 'next' predicate in general, would we try to handle that through other methods? I'm trying to think of when this is crucial at the data level but coming up with nothing... Unless we wanted to be really formal and say 'Holocene' is `nextInSequence` for 'Pleistocene'?

[2016-09-19 19:24] arwenhutt commented on #2
I don't think we want to specify a separate class for language values, we want to keep this simple, so I think dropping LinguisticSystem makes sense.

Whether we want to limit the value to a URI is another question.

@lsitu how is language implemented in CurationConcerns?  I am not sure we have any specialized needs for the language element, so perhaps we can just use the "out of the box" property

[2016-09-19 19:35] lsitu commented on #2
@arwenhutt I think it's just literal with dc11:language.
Here is the default definition: https://github.com/projecthydra/curation_concerns/blob/master/app/models/concerns/curation_concerns/basic_metadata.rb#L52-L54

[2016-09-19 19:39] arwenhutt commented on #2
Okay, so if we want to restrict to URIs only, then we would need to add our own range restriction.

@lsitu do you think it will be easier to work with if we restrict the range to URI or leave it open and potentially have a mix of URI and literal values?

[2016-09-19 19:53] lsitu commented on #2
@arwenhutt I think restricting it to URIs looks good.

[2016-09-19 19:57] arwenhutt commented on #5
I'm confused.  We DO want to be able to assert relationships between different agents, concepts, etc.  But wouldn't the range be URI?

[2016-09-19 19:57] remerjohnson commented on #2
If we mixed URIs and literals, we would have to do something to the value to indicate it being a URI, correct? Like append values with `http://lexvo.org/id/iso639-3/eng^^dcterms:URI`

[2016-09-19 20:13] arwenhutt commented on #5
@lsitu we've been discussing this a bit:
1. we aren't sure whether, in these cases, the range value is a short hand for "a URI for a thing which is of this class" or if it's a more literal nested record
2. we don't want to "nest" another agent, concept, etc. within/under a record of the same class
3. but we do want to be able to assert/describe relationships between "records"
4. we imagine that th

[2016-09-19 20:14] mcritchlow commented on #2
Is there a scenario where we wouldn't be able to assign a URI?

[2016-09-19 20:22] arwenhutt commented on #2
I don't think so.  I initially thought about the values we used in the Korean and Chinese posters (although I realize that they aren't dc(whatevs):language but xsd:language) like "ko-hang" - but even for that, wikipedia has us covered: https://en.wikipedia.org/wiki/Template:ISO_639_name_ko-Hang

[2016-09-19 20:24] arwenhutt commented on #2
This is a little apples and oranges, but my point is that I don't _think_ assigning a uri for a language should be an issue.

[2016-09-19 20:36] lsitu commented on #5
@arwenhutt : Could we start from the simplest case that you want for edm:Agent, skos:Concept and edm:TimeSpan, and update the data model to reflect the changes so that we can implement it?

[2016-09-19 20:41] arwenhutt commented on #5
I think starting from our minimum current requirements with a structure which allows future expansion is fine.  But we still need some clarity on what the ranges in those concepts actually mean, before we could update the model to reflect that "minimum".

@lsitu can you clarify whether in the examples you're raising the range value is a short hand for "a URI for a thing which is of this class" or

[2016-09-19 20:47] ghost commented on #5
Echoing @arwenhutt for clarity: @lsitu do you think that the intention skos:Concept as the Range for exactMatch was that exactMatch would be a URI and that URI would resolve to a record that used the class of skos:Concept?

[2016-09-19 21:28] lsitu commented on #5
@GregReser : I am not sure how exactMatch is used but it could be an URL that is linking to an external record, which is a link data issue and we may not know whether it's a class of skos:Concept or not, right?
@arwenhutt : Regarding your question, I think for TimeSpan should be a nested record of class TimeSpan, while for edm:Agent and Skos:Concept, with the authority records created locally, it'

[2016-09-19 23:08] arwenhutt commented on #5
@lsitu we just met and started doing a review of the classes in question.  We reviewed agent and concept, updating ranges, adding definitiion and usage guidelines, and identifying which predicates we think aren't required to meet minimum requirements and basic identified use cases.  There are still some questions related to these that we'll need to figure out, usually identified in comments in the

[2016-09-19 23:34] lsitu commented on #1
@mcritchlow I think the latest version CC 1.6.1 looks good and I can set it up much more smoothly without any manipulation. I'll move ahead to customize with all the terms in our new data model and add my codes for customization in now.

[2016-09-19 23:56] dunn commented on #11
At some point we could walk through the relevant sections of our code, although I'm not super familiar with all of it (we could bat our eyes at @val99erie and see if she'll help us).

[2016-09-20 00:05] lsitu commented on #11
That could be helpful. Thanks @dunn. I've reviewed some of the older codes at github, which haven't been updated since this May. Where can I find the codes for the latest version?

[2016-09-20 00:27] dunn commented on #11
It's on a private GitHub Enterprise instance.  Matt has access, and we could probably give you access as well.

[2016-09-20 01:57] lsitu commented on #11
It will be great if I can take a look at the codes. Thanks @dunn.

[2016-09-20 18:04] chrissyrissmeyer commented on #11
@mcritchlow: Our current model is fairly simple. Each local authority record includes a type (e.g., Person, Topic, Organization), a name/label, and a URI. Local authorities are created as needed upon ingest (metadata includes type). The ingest process checks if a local authority with that string/type already exists before creating a new one.

The administrative interface for managing local authori

[2016-09-20 18:42] val99erie commented on #11
Hi, I just got back from a trip, so my head isn't really in the code right now, but I'll point you at some parts of the code you might want to look at.

You probably don't need access to UCSB's private repo, there is an older repo on github that you can view:
https://github.com/curationexperts/alexandria

As Chrissy mentioned, the models for the local authority objects are:  Person, Group, Organiz

[2016-09-20 18:47] val99erie commented on #11
I forgot to mention, the classes that are defined in the oargun gem are used in our work models like this:
https://github.com/curationexperts/alexandria/blob/master/app/models/concerns/metadata.rb#L25

[2016-09-20 20:10] mcritchlow commented on #11
Thanks @chrissyrissmeyer and @val99erie ! And @dunn and I didn't even have to formally bat our eyes (which should be an emoji)

[2016-09-20 20:17] lsitu commented on #11
Thanks you very much, @chrissyrissmeyer & @val99erie. I've visited those codes recently and I am also writing a simple module to create authority records for our demo purpose. I think we can do it in a similar way. But are there any changes in your latest implementation regarding the local authorities system or not?

[2016-09-20 20:58] mcritchlow opened #13 "Implement edm:Agent class"
- [ ] Implement edm:Agent model and associated view/form
- [ ] Create sample records to associate with Object/Collection records
- [ ] Identify and issues and tag @ucsdlib/domm with questions

[2016-09-20 21:53] dunn commented on #11
@lsitu nothing really significant, beyond a bit of refactoring and adding locations to the local authorities we create: https://gist.github.com/dunn/99d7c1ea4caaac04904281864267e3a2 (that patch won't apply to the curationexperts/alexandria code, though).

[2016-09-20 22:02] lsitu commented on #11
Got it. Thanks @dunn for digging this out.

[2016-09-21 16:22] mcritchlow opened #14 "Data Model property clarification needed"
Per @lsitu

We need to review each of the following highlighted properties and clarify the predicate and expected range:

https://github.com/ucsdlib/dams5-cc-pilot/blob/611f839f846b0052e21ffd08a4e05ff1eaaaadf0/app/schemas/general_schema.rb#L55-L64

I think we've settled language via discussion in #2

cc/ @ucsdlib/domm

[2016-09-21 16:48] lsitu commented on #14
@ucsdlib/domm: When reviewing the new data model fro implementation, I found that the following properties may still need to be clarified:

*Language -- predicate: ::RDF::Vocab::DC.language   dc:LinguisticSystem
 Should we restrict it to URI?

*Location -- predicate: ::RDF::Vocab::DC.spatial    dpla:Place
 Do we still use it?

*Vessel -- predicate: r2r:vesselName, class_name: Agent
 What's the nam

[2016-09-21 18:39] lsitu commented on #7
@escowles: Could you tell us a little more about why Kakadu is chosen for Plum? What license model you chose and the cost for it?
We are interested in IIIF-based system as well. Do you know what other IIF support that we can consider as well. Thanks.

[2016-09-21 20:30] escowles commented on #7
I think we are using Kakadu because it performs better than OpenJPEG, and didn't need to purchase a license to use it.  I asked with @jpstroop about it and he said he emailed and asked whether we needed to purchase a license or not, so I'd recommend doing that to see what they tell you.

We have downloaded the binaries from http://kakadusoftware.com/downloads/ and used them to generate our JP2s.

[2016-09-21 20:41] jpstroop commented on #7
Just to follow up: [here](https://groups.google.com/d/msg/openjpeg/ugb2B66rHlY/PAzQZcW5BwAJ)'s some very recent benchmarking comparing Kakadu to OpenJPEG. That's why Kakadu ;-)

Kakadu is primarily interested in selling their SDK, but you're only likely to need the binaries in most cases. Just to get something on file, I would write to them and explain 1) that you only need the binaries and 2) tha

[2016-09-21 20:51] mcritchlow commented on #7
@escowles @jpstroop thanks so much!

@lsitu - I can reach out to Kakadu to try and get something in writing. Should be fun.

/cc @jhriv re #12

[2016-09-21 20:57] arwenhutt commented on #14
Here's what we have so far.  More to come.

*Language -- predicate: ::RDF::Vocab::DC.language dc:LinguisticSystem
Should we restrict it to URI?
-- yes, we've updated the range to "xsd:anyURI"

*Location -- predicate: ::RDF::Vocab::DC.spatial dpla:Place
Do we still use it?
-- no, we discussed it and decided to omit the location property and just use the "spatial" property for all geographic data

*

[2016-09-21 21:04] lsitu commented on #14
@arwenhutt Thanks for the update and clarification.

[2016-09-21 21:32] lsitu commented on #7
@escowles @jpstroop : Thank you very much for these information. It's really helpful.

Esme, I try to download Kakadu for [OSX 10.11](http://kakadusoftware.com/wp-content/uploads/2014/06/KDU78_Demo_Apps_for_OSX1011_160322.dmg_.zip) and unzip it and I can't install it for that MacOSX 10.11 (El Capitan) issue. But I don't see the files kdu_compress and libkdu_v77R.dylib in Kakadu-app-demp.pkg (which

[2016-09-21 22:40] mcritchlow commented on #5
Was just chatting with @remerjohnson and thought I'd drop this here.

I know we're likely going to dig into this further in the Friday meeting. But, I think we need to probably clarify our thinking on the purpose of the skos mapping properties, such as `exactMatch`.

From the [SKOS w3c spec](https://www.w3.org/TR/skos-reference/#mapping)

[code]

I don't think we can/should commandeer the range of

[2016-09-21 22:42] arwenhutt commented on #5
Why would we use them for arbitrary URI's?

[2016-09-21 22:50] mcritchlow commented on #5
@arwenhutt - Arbitrary is probably the wrong way to say it. I think what I was trying to clarify was that if we use those mapping properties, they need to point to other skos:Concepts as documented. This was mostly in response to the dialog that started [a few comments up](https://github.com/ucsdlib/dams5-cc-pilot/issues/5#issuecomment-248121357)

Per @lsitu 's point, I suppose, if we're going to

[2016-09-21 23:04] arwenhutt commented on #5
Ah.  Yeah, so we are actually avoiding exactMatch for a pretty similar reason.  We've updated the concept, agent, place and timeSpan categories.  For matches to other authorities for the same concept, agent, place - we're recommending "closeMatch".  We felt that in most cases, especially with retrospective reconciliation, it would be difficult to confidently assert an exactMatch - even when the la

[2016-09-21 23:13] lsitu commented on #5
@arwenhutt : We also got feed back from UCSB regarding their local authority system. I looks like theirs are fairly simple with just a label/name and a URL: https://github.com/ucsdlib/dams5-cc-pilot/issues/11#issuecomment-248382768

[2016-09-21 23:25] arwenhutt commented on #14
*isReplacedBy -- predicate: dpla:isReplacedBy
Should we use dpla namespace? What is the value type?
-- we discussed and decided we don't currently need this relationship.  It's been struck through in the data dictionary.

*replaces -- predicate: dpla:replaces
Should we use dpladpla namespace? What is the value type?
-- we discussed and decided we don't currently need this relationship.  It's been

[2016-09-21 23:29] arwenhutt opened #18 "What's the range for "type" property?"
@ucsdlib/domm needs to discuss what the correct range for "type" is.
It's currently line 126 in the DD and listed as dc:DCMIType, which doesn't seem correct since we've developed a local type list with fun things like "notated movement"

[2016-09-21 23:35] arwenhutt commented on #18
(I'm not able to assign labels to this, I think it might be a permission thing)

[2016-09-21 23:35] arwenhutt commented on #18
Whoops, that was definitely user error ;)

[2016-09-21 23:37] lsitu commented on #18
@arwenhutt: What's the different use for Type and Format (typeOfResource?)? It looks like the CVs are over wrapping.

[2016-09-21 23:39] lsitu commented on #14
@arwenhutt : For copyright_status, should we use URI instead?

[2016-09-22 00:36] arwenhutt commented on #14
@lsitu yup. that makes sense.  We do want to restrict to specific URIs though, how do we specify that?

[2016-09-22 00:44] lsitu commented on #14
@arwenhutt : I think we can provide a list of values for selection. Or enforce it through value validation? It looks like other properties like "local attribution" and format /type has this issue too.

[2016-09-22 00:46] arwenhutt commented on #14
Yep.  And maybe others.  Is there a way you would like us to indicate this in the data dictionary?

[2016-09-22 01:01] lsitu commented on #14
Maybe just add those fields that has CVs to another tab like what we did for the Excel Input Stream?

[2016-09-22 11:35] escowles commented on #7
@lsitu You need to unzip the Zip file and then mount the disk image that gets expanded.  Inside the disk image is a PKG you have to install by right clicking and selecting Open to get around the 'unknown developer' problem.  That PKG should install kdu_compress in /usr/local/bin and libkdu_v77R.dylib in /usr/local/lib.

[2016-09-22 15:13] lsitu commented on #7
Thanks @escowles. I've tried several previously and now but I always get error "Kakadu Demonstration Apps for OSX10.11 can't be installed on this disk. These executables are compiled against the 10.11(EL Capitan) SDK ... "
So I think I may need to install it manually. I copied the pkg file Kakadu-demo-apps.pkg and run "xar -xf Kakadu-demo-apps.pkg" to unpack it. But I only see lots of .pkg files i

[2016-09-22 15:45] mcritchlow commented on #5
The(or perhaps A) way we'd enforce on the machine side is to get the RDF graph for a given authority URI (either as an initial validation and/or during dereferencing for indexing) and look through the `rdf:type` assertions for a `skos:Concept` entry.

[Here is an example](https://gist.github.com/mcritchlow/e36e841b9e6a019a971c6ce7858cb555), using dbpedia and LC:

So assertions using `closeMatch` a

[2016-09-22 15:55] mcritchlow commented on #18
@arwenhutt let me look into the label permissions thing. sorry about that

[2016-09-22 18:21] hweng commented on #9
@mcritchlow I've set up the blacklight version 6.0. The blacklight itself don't have alternate views, but I found that a gem blacklight-gallery which support for three alternate views: Gallery, Masonry and Slideshow views.
I've installed it in blacklight app and it works fine for me in the standalone app.  But when I tried to install the blacklight  and blacklight-gallary gems to dams5-cc-pilot ap

[2016-09-22 20:25] mcritchlow commented on #9
per discussion with @hweng. For this Sprint it would be nice to have a demo of the working alternate search result views either via the blacklight app or the dams5-cc-pilot app. If it can be integrated, that would be ideal, if not starting to identify the series of steps to get it integrated with a Curation Concerns app will be of value to us since we will definitely be using this plugin in our ev

[2016-09-22 20:38] mcritchlow commented on #1
@lsitu - I believe this is done?

[2016-09-22 20:42] lsitu commented on #1
@mcritchlow : Yes. I think we can close it now with the PR for overriding the default collection behavior being merged.

[2016-09-23 11:23] escowles commented on #7
@lsitu It's weird that it won't install the files for you.  But once you unpack the PKG file, the files are gzipped and named `Payload` in each sub-package directory.  So you can ungzip them and put them where they need to go:

[code]

[2016-09-23 15:24] mcritchlow commented on #1
@lsitu great, please mark as Closed then.

[2016-09-23 15:44] #1 closed, assigned to lsitu

[2016-09-23 15:49] lsitu commented on #7
I see. Thanks a lot @escowles.

[2016-09-23 21:45] mcritchlow opened #21 "Resolve edm:TimeSpan (and dates in general) concerns"
- [ ] Review UCSB implementation usage of qualifiers and machine actionable dates
- [ ] Identify the gaps between current edm:TimeSpan concerns/needs and native [ActiveTriples support for typed data](https://github.com/ActiveTriples/ActiveTriples#typed-data)

[2016-09-23 21:50] mcritchlow opened #22 "Review Collection Membership branch of CC"
Per https://groups.google.com/forum/#!topic/hydra-tech/7_2jSVL8CNk

This would probably be important for us, in practice. It sounds like this branch will get merged eventually. Esme is guessing 2.0 given the breaking changes and keeping with semantic versioning, that makes sense. We may, if we start doing larger migration tests, want to try out using this branch. It would also allow us to provide

[2016-09-23 22:27] lsitu commented on #22
@mcritchlow : Yes, we have some big collections like SIO may have the same performance issue. I believe the performance will be improved a lot by linking it the other way from object to collection like what we do for dams in this case.

[2016-09-26 23:28] arwenhutt commented on #14
@remerjohnson can you work on the CVs? we need to document them (in the added spreadsheet) and look at verifying values.  Related issue https://github.com/ucsdlib/dams5-cc-pilot/issues/18
Thanks!

[2016-09-26 23:41] remerjohnson commented on #14
@arwenhutt Okay. I'll put it on the CV tab and mirror the Excel Input Stream.

[2016-09-27 00:11] remerjohnson commented on #18
@arwenhutt: I've put the controlled values for our current `dams:typeOfResource` field into the CVs tab of the data dictionary under 'type'. I imagine we now change that range to Literal?

I think that works, but as @lsitu said, 'format' is... not so clear. Reading the DCMI spec, is this intended to be similar to what is captured now as `dams:formatName` (e.g. 'MP3') and `dams:duration`? Which I i

[2016-09-27 01:40] arwenhutt commented on #14
Thanks!

[2016-09-27 14:54] mcritchlow commented on #18
@remerjohnson @lsitu - I wonder if we should setup a ticket to explicitly look into the technical metadata extracted by the CC stack for each of our known/common file types? Might that help clarify the issues noted above?

[2016-09-27 15:50] lsitu commented on #18
@mcritchlow Yes, I think it's good to know about it first.
@remerjohnson Here is the technical metadata defined in CC for each file types: https://github.com/projecthydra/hydra-works/tree/master/lib/hydra/works/characterization/schema .

[2016-09-27 16:19] mcritchlow commented on #18
@lsitu - 👍

for the separate ticket, i was referring to actually running a few of each of our file types through CC and confirming the extracted technical metadata is populated as expected via FITS. But your schema link may be all @remerjohnson needs for now.

[2016-09-27 16:35] mcritchlow opened #23 "Review Extracted Technical Metadata from CurationConcers/FITS"
Please run the following file types through the CC ingest workflow so that technical metadata of each type may be reviewed by @ucsdlib/domm
- [x] Audio
- [x] Video
- [x] Document (PDF, Word)
- [x] Image
- [x] Data (perhaps a few RDCP files?)

[2016-09-27 16:36] mcritchlow commented on #18
#23 is setup for further investigation into technical metadata extraction.

[2016-09-27 18:12] remerjohnson commented on #14
A note that Chrissy/UCSB will use the URIs from LoC on this:
[LoC Resource Types](http://id.loc.gov/vocabulary/resourceTypes.html)

Not sure if we want to even look into that or stick with what we've got.

[2016-09-27 18:24] ghost commented on #14
Just clarifying that dc:type is referring to the type of the original resource ("Source resource" as DPLA says), not the digital surrogate, right.  If so, then do we need both type and genre?  Only if we want to use both the limited range of DCMIType like "still image" and a more specific genre, like "Postcards".

[2016-09-27 18:28] arwenhutt commented on #14
@GregReser That aligns with our current use of type of resource and genre, and what I was thinking.

@remerjohnson Do they align with our current values?  including the weird ones (notated movement), it may do since I think they were derived from RDA values.

[2016-09-27 18:37] ghost commented on #14
No, we would have to choose a different range.  DC doesn't limit type to DCMIType.  Could it be anyURI?
For genre, DPLA used edm:hasType which, from their definition, seems like a good fit.

http://pro.europeana.eu/files/Europeana_Professional/Share_your_data/Technical_requirements/EDM_Documentation//EDM_Definition_v5.2.7_042016.pdf

[2016-09-27 18:39] remerjohnson commented on #14
@arwenhutt RE: resource type alignment. Greg and I looked at it and yes, in general they do, although not sure why they abbreviate the types in the URIs. e.g. [still image](http://id.loc.gov/vocabulary/resourceTypes/img.html) at a glance is `http://id.loc.gov/vocabulary/resourceTypes/img.html`. I'll have to investigate the exact alignment more.

RE:genre, I think that it may not be possible/desira

[2016-09-27 18:46] arwenhutt commented on #14
Genre will behave like other subjects right?  So external vocabs when they work, local ones when they don't?

[2016-09-27 18:47] remerjohnson commented on #14
@arwenhutt That makes sense to me :+1:

[2016-09-27 18:51] arwenhutt commented on #14
And I missed Greg's response, yeah I think it would be like some of the other values with CVs, a type of anyURI with a reference to our controlled list of "approved" values (documented on the CV tab).

[2016-09-27 18:52] ghost commented on #14
Sounds good. Should we replace genreForm (row 116, col P) with genre (row 127, col P)?

[2016-09-27 19:13] arwenhutt commented on #14
@ucsdlib/domm  just discussed and we scratched genre (row 127, col P).

[2016-09-27 19:47] remerjohnson commented on #14
A quick alignment review between our resource types and LoC's:

| Our label | LoC label | LoC URI |
| --- | --- | --- |
| cartographic | Cartographic | http://id.loc.gov/vocabulary/resourceTypes/car |
| data | Dataset | http://id.loc.gov/vocabulary/resourceTypes/dat |
| mixed material | Mixed material | http://id.loc.gov/vocabulary/resourceTypes/mix |
| moving image | Moving image | http://id.loc.

[2016-09-27 20:01] remerjohnson commented on #14
In light of above, is it safe to say we can specify range of 'type' to be `xsd:anyURI`, then we add the above URIs to the CVs tab? Don't mean to being up dreaded Concept again, but just noting these are all instances of `skos:Concept` (and this is the range Chrissy/UCSB have)

[2016-09-27 20:35] remerjohnson commented on #18
Okay. I do see in `base_schema.rb`, there is reference to `PREMIS.hasFormatName` which, when looking at the [ontology link](http://id.loc.gov/ontologies/premis.html#p_hasFormatName), doesn't specify what is expected, but I can assume those would basically be MIMEtypes? I guess we can just wait for the result of the test you set up in #23
Thanks!

[2016-09-27 21:10] ghost commented on #14
What about notated music?  If D'MPS is OK with removing it, we could go with the LoC URI and skos:Concept

[2016-09-27 21:16] remerjohnson commented on #14
@GregReser Ah! Knew I missed one :smile:
It's http://id.loc.gov/vocabulary/resourceTypes/not.html

[2016-09-27 21:39] ghost commented on #14
That will work and skos:Concept is a good range

[2016-09-27 22:35] hweng commented on #8
I've followed the Sufia's instruction to create a Sufia-based app. And when run generator to install sufia, I got the following error:
"Users/hweng/git/my_sufia_app/config/environments/development.rb:53:in `block in <top (required)>': uninitialized constant ActiveSupport::EventedFileUpdateChecker (NameError)"

And after comment out the above line of config, this error was gone. But it comes up ano

[2016-09-28 22:27] VivianChu commented on #6
@mcritchlow I'm wondering if the component for our new complex object contain other fields like description, note, creator, subject, etc.. in addition to the title field and the technical metadata.  Thanks

[2016-09-29 01:00] mcritchlow commented on #6
@VivianChu - good question. According to the new data model, components are just ucsd:Objects. I believe the intention is to have full descriptive metadata, etc. as we would with top level objects.

/cc @ucsdlib/domm as the implementation details of this might get interesting in areas where we want/need to distinguish between objects and components

[2016-09-29 16:09] lsitu commented on #7
@escowles : Thanks for the instructions to install the binary for Kakadu. I installed it on my MAC (OS X 10.9.5) but it doesn't work. It looks like a binary compilation issue. Here is the error I got:
$ kdu_compress -v
-bash: /usr/local/bin/kdu_compress: cannot execute binary file

[2016-09-29 16:58] escowles commented on #7
@lsitu The downloads page says "Built using Xcode 7 for OSX10.11 (El Capitan) and above", so I think you'll need to update to MacOSX 10.11 to use those binaries.  I don't see any links to older versions for pervious versions of MacOSX unfortunately.

[2016-09-29 17:12] lsitu commented on #7
Yes, I think so. With the research and pilot project basing on CC for DAMS 5 on going, it's a little hard to make the decision to upgrade MacOSX at this time. Thanks @escowles .

[2016-09-29 19:52] jpstroop commented on #7
@lsitu there's an older version of `kdu_expand` bundled with Loris you could try:
- bin: https://github.com/loris-imageserver/loris/blob/788faf509f087d9585228d1fe8b3a0f6b9293dc2/bin/Darwin/x86_64/kdu_expand
- lib: https://github.com/loris-imageserver/loris/blob/788faf509f087d9585228d1fe8b3a0f6b9293dc2/lib/Darwin/x86_64/libkdu_v73R.dylib

[2016-09-29 19:53] jpstroop commented on #7
(But that won't help if you need `kdu_compress`). I guess you could try the older shared libraries with the newer binary--maybe you'd get lucky, but I doubt it.

[2016-09-29 20:09] lsitu commented on #7
Thanks @jpstroop. Yes, it looks like it complains about kdu_compress at the first place. I was getting the same error after coping the libkdu_v73R.dylib downloaded from the link you provided above to/usr/local/lib/libkdu_v78R.dylib.

[2016-09-29 21:51] hweng commented on #8
@mcritchlow I've tried different versions of Sufia and Rails. The following combination Rails 4.2.7.1 with Sufia 7.1.0 works fine to me to get the sufia based app up and running.
But I got issues when use sufia based app to create a new work object, which i posted the issue to hydra-tech list.

[2016-09-29 21:52] mcritchlow commented on #8
@hweng - Thanks for the update. Hopefully folks on the list will be able to assist. But glad to hear you at least got a combination working.

[2016-09-30 16:00] hweng commented on #8
@mcritchlow To follow up the above issue, Mike Giarlo replied me in hydra-tech list:
"Hi Huawei,

OK, that helps. The error that you're seeing is resolved in the master branch of Sufia and will be released in 7.2.0, which should be released in the next week or so. Thanks for reporting this.

-Mike "

[2016-09-30 16:07] hweng commented on #8
@mcritchlow Then I tried the master branch but there is some issues to install sufia using the current readme steps.
Mike Giarlo told me that there are draft release notes for upgrading to 7.2.0 that include required steps. Those will be published soon when the release is cut.

[2016-09-30 17:10] mcritchlow commented on #8
@hweng thanks for the update, that sounds about right. If there's a relevant Sufia ticket for this, would you mind referencing it here with a link?

[2016-09-30 19:14] hweng commented on #8
@mcritchlow I didn't find particular relevant Sufia ticket for this issue. I get a reply from Justin said: this issue should be resolved with CurationConcerns 1.6.2, which I just released.
I will try it late.

[2016-09-30 21:08] hweng commented on #8
@mcritchlow  Here is the hydra-tech list link regarding this issue: https://groups.google.com/forum/#!topic/hydra-tech/6zq9KrUmKDw

[2016-09-30 21:19] mcritchlow commented on #14
@lsitu and @ucsdlib/domm - could we close this ticket and create a new one for any remaining work? A lot got done here, but I don't want to lose any next steps. Please advise.

[2016-09-30 21:21] mcritchlow commented on #9
@hweng - I think, per your demo and the code being committed, this can be closed. Is that correct?

[2016-09-30 21:35] lsitu commented on #14
@mcritchlow: Yes, I believe it's very close to be done already. Thank you all. Should we close this ticket as Matt suggested @ucsdlib/domm?

[2016-09-30 22:01] hweng commented on #9
@mcritchlow, yes the overall function works fine to me. I think this ticket can be closed. For the detail CSS fix or update, it can be created in separate ticket when need.

[2016-09-30 22:04] mcritchlow commented on #9
Great, please go ahead and close then.

[2016-09-30 23:28] hweng commented on #9
@mcritchlow This new feature has been in feature branch. I've submitted a pull request for it and after it is merged into master, I will close this ticket.

[2016-10-01 00:01] lsitu commented on #9
@hweng: I see two commits. It look like your older commit wasn't replaced correctly. Maybe you can do a rebase to remove the older (commit)[https://github.com/ucsdlib/dams5-cc-pilot/commit/79aebe135d3094a5385b2e1987fe25bb4f62f242]? Otherwise 👍

[2016-10-01 00:25] hweng commented on #9
@lsitu There is actually only one commit in the pull request, would you check the pull request: https://github.com/ucsdlib/dams5-cc-pilot/pull/26

[2016-10-01 00:30] lsitu commented on #9
@hweng Okay, got it. Just something strange here.

[2016-10-01 00:30] hweng commented on #9
@lsitu Yeah, I think what showed here just the action history?

[2016-10-01 00:41] lsitu commented on #9
Yes, different display from Jira that caught my attention.

[2016-10-01 00:47] #9 closed, assigned to hweng

[2016-10-04 21:13] hweng commented on #8
@mcritchlow The above error got resolved with CurationConcerns 1.6.2, which Justin Coyne just released on last Friday.
I've tried creating some different type of objects. It works well for me.

[2016-10-04 21:13] hweng commented on #8
@mcritchlow  For the new released Sufia v7.2.0, I’ve tested and got errors with its installations which I created the issue here: https://github.com/projecthydra/sufia/issues/2764

[2016-10-07 01:07] hweng commented on #8
@mcritchlow Tested batch uploading files in Sufia v7.1.0, it works fine to me. But I got errors when try batch editing, and not sure if it get fixed in v7.2.0. I will try it in v7.2.0 after the above install errors get fixed.

[2016-10-07 21:31] hweng commented on #8
@mcritchlow The sufia 7.2.0 install issue is resolved for me, see https://github.com/projecthydra/sufia/issues/2764#issuecomment-252138293

[2016-10-11 15:39] mcritchlow opened #27 "Identify options for Wowza streaming with Fedora 4"
In DAMS4, the Wowza server is able to stream A/V files directly from our system because the files are transparently available on disk. We need to identify what our options are in a Fedora 4 environment, and the pros/cons of these options. This ticket may need to be an Epic, depending on further converstations w/ @ucsdlib/operations. Leaving this here as a placeholder for next Sprint.

[2016-10-11 17:23] mcritchlow commented on #8
Is this in progress? If so, please mark as such.

[2016-10-11 17:23] mcritchlow commented on #10
Is this in progress? If so, please mark as such.

[2016-10-11 20:32] hweng commented on #10
@mcritchlow moved to "in progress".

[2016-10-12 18:16] #3 closed, assigned to lsitu

[2016-10-12 18:16] #4 closed, assigned to lsitu

[2016-10-12 18:16] #5 closed, assigned to mcritchlow

[2016-10-12 18:16] #7 closed, assigned to mcritchlow, lsitu

[2016-10-12 18:16] #11 closed, assigned to lsitu

[2016-10-12 18:16] #13 closed, assigned to lsitu

[2016-10-14 17:20] hweng commented on #10
@mcritchlow There is a number of changes from blacklight 4.7.0 to 6.6.2 for facet module. But there is no easy way to insert the # per page dropdown in facet page. It need to update or override the blacklight facet module.
I think the steps to do:
1. create the facet pages.
2. ask folks in blacklight list for their opinions.
3. implement the # per page dropdown function, update or override the bla

[2016-10-14 17:22] mcritchlow commented on #10
@hweng - yes i think that sounds great. I think your second point, in particular, would be interesting. I can't imagine we're the only ones with enough metadata in facets to justify needing that feature.

[2016-10-17 15:17] lsitu commented on #2
@ucsdlib/domm Could we have a more specific list CVs of languages with uri and the the label we want, like https://github.com/ucsdlib/dams5-cc-pilot/issues/14#issuecomment-249976945? I think we can import and manage them the same way as as what we do for type (typeOfResource) as local authorities. Thanks.

[2016-10-17 16:45] mcritchlow commented on #8
@hweng - I'm thinking we can perhaps mark this as Closed, would you agree? I know 7.3 is coming out in the near future, and I suspect that might be a good time to look into the ability to add in more complex metadata, extend batch editing, integrate QA, etc. What are your thoughts?

[2016-10-17 16:50] hweng commented on #8
@mcritchlow Yes, I agree it will be a good investment looking into 7.3, which I suspect it would be more solid and extended features.

[2016-10-17 16:50] #8 closed, assigned to hweng

[2016-10-17 18:42] mcritchlow opened #29 "Handling Components in Search Results"
In a PCDM/CC application, component objects are like any other object. As a result, without any intervention, the search results may contain ALL objects inclusive of Collections, Objects, and Components.

TODO **_(Work In Progress and not finalized)_**:
- [ ] Determine options for allowing the user to select the scope of results. I believe this might be a feature in Sufia now? @hweng will know bet

[2016-10-18 17:12] #6 closed, assigned to VivianChu

[2016-10-20 16:39] lsitu commented on #23
@remerjohnson I've got the technical metadata exported for the format above. It looks like that the technical metadata extracted from CC is much more than what we want. These technical metadata include some of the fields from the characterization scheme but not all, which are specific to that format, and some fields are machine manage triples from fedora.
Attached are the examples in rdf+xml forma

[2016-10-20 17:50] arwenhutt commented on #23
@lsitu These do look much richer than what we supported before, which is a great thing!  I think we'll want to include Stefan in this review, but he's OOO.

So two clarifying questions, what feedback do you need on the CC/FITS extracted default metadata?  and what's the time frame on getting the feedback?

[2016-10-20 18:35] lsitu commented on #23
@arwenhutt I think we just need to figure out whether the technical metadata extracted from CC/FITS is good for us. And I don't think we have any timeframe for the feedback. Thanks.

[2016-10-20 22:44] lsitu commented on #27
@rstanonik In Fedora 4, audio/video files are stored in the binary directory (fcrepo.binary.directory) with tree structure in binary format with no file extension. Have you found any ways for streaming files in binary format like that? Thanks.

[2016-10-21 18:51] lsitu commented on #27
@rstanonik I just do a test to ingest a mp4 file to Fedora 4. It looks like that the jwplayer works well with the binary mp4 file in the binary store fcrepo.binary.directory: http://libraries/jwplayer-test/ffmpeg.html. So I think it could be just the pair path issue. Do you want to test it with Wowza? In fedora 4, the test mp4 file b5d2ca0af6cd70b361201236641d795cf9e94d29 (MessageDigest) will be s

[2016-10-24 15:50] remerjohnson commented on #23
@arwenhutt A big impetus for this issue was in [another issue](https://github.com/ucsdlib/dams5-cc-pilot/issues/18#issuecomment-249733335), because we wanted to see what exactly we would capture in `dams:format`.

Now that we know there's a lot of metadata captured here, I don't know what (if anything) we need to use `dams:format` for? (size, extent, duration, MIME type, as is recommended in Dubli

[2016-10-24 17:31] arwenhutt commented on #23
Thanks @remerjohnson that helps.  Agreed that the d4 property `dams:formatName` seems to map to `pre:hasFormatName` in FITS/CC model.

There is also the dc11:format, which is I think a different question that we'd need to consider.  As Ryan mentioned it's a fuzzy bucket that we don't really (I think) have a strong current use for, but we should consider how it relates to interoperability with othe

[2016-10-24 18:02] remerjohnson commented on #23
@arwenhutt I _was_ referring to 1.1: [dc11:format](http://dublincore.org/documents/2012/06/14/dcmi-terms/?v=elements#format)

[2016-10-24 18:02] mcritchlow opened #30 "Create CSV-based ingest for DAMS5"
As part of moving towards a new F4-based Hydra head, we need to recreate our CSV-based batch ingest feature in the Hydra context. A dependency on this is a new CSV template based on our [new data model](https://docs.google.com/spreadsheets/d/1OjTm1Kuzo-An-THdpUkjwa5puul-b4Lx3SK0lB6rvl8/edit#gid=616154196)

This Epic will track the variety of tickets that will be needed to spec, build, test and imp

[2016-10-24 18:13] arwenhutt commented on #23
@remerjohnson have we used that before though?  I mean in both d4 and d5 format name is in other properties.

[2016-10-24 19:17] remerjohnson commented on #23
@arwenhutt Right, for `dams:format` (line 88), I think we could probably get rid of the ucsd property, but then like you say, map dc11:format to some of the other properties within `ucsd:File` like formatName and formatVersion, although it could potentially map to many of the `ucsd:File` properties

What do you think, @mcritchlow?

[2016-10-24 19:21] arwenhutt commented on #23
Weird, I don't see `dams:format` on line 88, just a grey text (inherited) `dc11:format`

[2016-10-24 20:38] ghost commented on #23
I think dc:format on row 88 is describing the original physical object, at least that's how DPLA uses it.  That may be why it's greyed out - because we use the physicalDescription note.

[2016-10-24 20:46] arwenhutt commented on #23
The grey indicates what (we think) we are inheriting from a previous tier of the model that we aren't modifying. `dc11:format` is coming from the base HydraWorks/CC install.  And we are proposing no modifications or changes to that.

I agree with Greg that in this context, and interpreting it as other users (DPLA, UCSB) have, it's related to the original physical object.  Whether we want to use it

[2016-10-24 21:08] VivianChu commented on #22
@escowles  -  I tried to use your branch member_of_replace for curation_concern and I got this error when creating object <ActiveFedora::UnknownAttributeError: unknown attribute 'member_of_collection_ids' for ObjectResource  Do you have any idea why that happened?  Do I need to add member_of_collection_ids somewhere to make it works?  Thanks

[2016-10-24 21:54] lsitu commented on #23
@arwenhutt I don't have any specific questions related to this but rather as what you've indicated, how to utilize these technical metadata extracted by CC. Thanks.

[2016-10-24 22:57] VivianChu commented on #22
@escowles - Please disregard my questions.  I got it working. Thanks

[2016-10-26 17:23] hweng commented on #10
@mcritchlow Continuing with what we talked in meeting, What individual Browse by Facet pages should add to dams5? How about starts with Browse by creator and by topic? We can add more late if the approach is working.

[2016-10-26 17:26] mcritchlow commented on #10
@hweng yes I think those two would make the most sense, especially in the context of this ticket. We'll need Format as well, but that wouldn't require the paging functionality since there's such a small fixed list of possible values.

[2016-10-26 17:32] hweng commented on #10
@mcritchlow Is Format defined as resource_type_sim in solr?

[2016-10-26 17:40] mcritchlow commented on #10
I think in the new CC app, it's either `file_format_sim` or `format_tesim` per this [CC config local](https://github.com/ucsdlib/dams5-cc-pilot/blob/881cd83815a1ef0afadd5d3052bbcb13f7eed9b8/config/locales/curation_concerns.en.yml#L157). Guessing the former since it's nested in the facet section.

@lsitu - does that look right to you?

[2016-10-26 17:52] hweng commented on #10
@mcritchlow  I see there is facet field resource_type_sim added in catalog_controller
https://github.com/ucsdlib/dams5-cc-pilot/blob/master/app/controllers/catalog_controller.rb#L38

[2016-10-26 17:53] mcritchlow commented on #10
@hweng ah, then it looks like we added our own perhaps. your property is probably correct then :)

[2016-10-26 17:55] lsitu commented on #10
@mcritchlow @hweng I think it's different from file format. It's TypeOfResource for resource_type_sim, which is similar to the format facet in dams 4.

[2016-10-26 18:04] hweng commented on #10
@lsitu Yes, I think resource_type_sim is similar to the format facet in dams 4. And I checked from log it exist:
(#<CatalogController>)> blacklight_config.facet_fields
=> { "resource_type_sim"=>
  #<Blacklight::Configuration::FacetField label="Type", limit=20, key="resource_type_sim", collapse=true, show=true, if=true, field="resource_type_sim", unless=false> ....}

[2016-10-27 23:08] mcritchlow commented on #27
@lsitu and @rstanonik - given what Longshou demonstrated in the test URL, it appears that streaming F4 files from the binary store is possible. I think the next step would be changing out Wowza encrypted stream module to support the F4 convention. Longshou pushed the repo from Stash to Github and I created a [ticket to look into this](https://github.com/ucsdlib/encrypted-stream-name/issues/1). Tho

[2016-10-28 20:45] mcritchlow commented on #23
Agreed that this extracted technical metadata (by default from CC) is our new baseline for technical metadata. Noted by @arwenhutt that we may revisit with @snabli to discuss supplemental file metadata

[2016-10-28 20:45] #23 closed, assigned to lsitu

[2016-10-28 20:55] remerjohnson commented on #2
@lsitu As reported in the Sprint meeting, I will look into this CV

Actually, I have a question. Would a CV list of just the bare URIs to support work, or do you need labels as well? If so, how should I represent that in the Sheet?

[2016-10-28 20:57] mcritchlow commented on #14
Marking as closed per discussion in Review mtg.

[2016-10-28 20:57] #14 closed, assigned to lsitu, arwenhutt

[2016-10-28 21:15] remerjohnson commented on #18
Per meeting discussion, we agreed that the unresolved technical metadata issues from this ticket are contained in #23 and elsewhere.

Since we have good CVs for the range of "type" for @lsitu to work with, I'm closing this out.

[2016-10-28 21:15] #18 closed, assigned to nobody

[2016-10-28 21:17] #22 closed, assigned to VivianChu

[2016-10-28 21:57] mcritchlow opened #32 "Blacklight facet view sorting options"
This issue was raised in the Review meeting from Sprint 21. Questions:
- Can lexical sorting be used in a way similar to the description in [this article](http://www.andornot.com/blog/post/Make-numbers-behave-when-sorting-alphanumerically-in-Solr.aspx)?
- Can we ignore case? Example of [ALLCAPS values](http://library.ucsd.edu/dc/search?f%5Bsubject_topic_sim%5D%5B%5D=ANVIL&facet.prefix=A)
- Can we

[2016-10-28 21:58] mcritchlow opened #33 "Add A-Z links to Facet view pages"
In the DAMS4 digital collections, we have customized the browse by views to include an [A-Z listing](http://library.ucsd.edu/dc/search/facet/creator_sim?facet.prefix=A&facet.sort=index) feature. Please implement in the new system.

[2016-10-28 22:06] jhriv commented on #12
Ansible roles updated, and pushed to Galaxy. ffmpeg broke because of reliance upon static version numbers, role was refactored to screen-scrape for current version

[2016-10-28 23:11] mcritchlow commented on #27
I'm going to close this out in favor of explicitly taking https://github.com/ucsdlib/encrypted-stream-name/issues/1 forward.

[2016-10-28 23:11] #27 closed, assigned to lsitu, rstanonik

[2016-10-28 23:13] mcritchlow commented on #2
@remerjohnson would the URI's have a consistent property we could grab labels from? If so, a list of just the URI's might be OK.

[2016-10-29 00:54] arwenhutt commented on #21
Related issue from @remerjohnson : "think about how the machine encoded versions of dates are bound to a display date - discussion in DHH-822 and DM-185, handling of dates in general probably could benefit from a review, and this would be a part of that."

As part of these, we'll also need to make sure we have a way to identify the date to be used for sorting and faceting, how that's encoded (if i

[2016-10-29 01:09] arwenhutt opened #34 "File format recommendation for ingest - Excel vs. CSV vs. Tab delimited vs. Google Sheets"
@ucsdlib/domm will make a recommendation on what format would be best to use for ingest.

There are some initial notes on LiSN https://lisn.ucsd.edu/display/DOMM/DAMS+5+-+Deep+Thoughts+-+Standard+Input+Streams

[2016-10-29 01:10] arwenhutt commented on #34
I'll schedule a meeting for DOMM to get the ball started on this.

[2016-10-29 01:19] arwenhutt opened #35 "Finalize template for CSV import"
Need full spec for updated template for CSV import:
1. fields updated to D5 model
2. formatting/validation of column heads (loosen validation and/or simplify formatting)
3. validation rules for individual fields
4. validation rules for sheet as a whole

Related open questions: date handling https://github.com/ucsdlib/dams5-cc-pilot/issues/21, rights metadata and logic updated https://github.com/uc

[2016-10-29 01:35] arwenhutt opened #36 "Implementation of the new rights metadata model in CC"
While it was designed to simplify rights and access controls, the new rights management strategy and metadata model is significantly different then what we implemented in 4.

Need a full spec including:
1. list of properties
2. associated application behavior (verified with the library rights policy group)
3. controlled value lists or validation rules for each property
4. properties and validation

[2016-10-29 01:44] arwenhutt commented on #34
@lsitu if you have any thoughts on the relative merits of the different approaches (especially excel vs. tab delimited I think), that would be very helpful.  Thanks!

[2016-10-31 15:17] mcritchlow commented on #34
I'll only note that if we can keep it to a non-proprietary format (CSV/TSV) that would be the most reusable for other interested folks in the community.

[2016-10-31 15:19] lsitu commented on #34
@arwenhutt I think CSV format looks good, which have more general support over diacritics and special characters. @mcritchlow and I talked about it last week and we are doing some research on supporting it over CC now. We could support other formats like Excel (Google Sheets?) too if you want it, which works for special characters as well but could be easy to cause corrupted diacritics. For tab de

[2016-10-31 15:30] lsitu commented on #2
@remerjohnson  If you want to provide us a label and the URI, then tab delimited format would be great. But as @mcritchlow mentioned above, if there's a location that we can easy to grab the label consistently, then a list of URIs will work.

[2016-10-31 16:09] remerjohnson commented on #34
I should probably mention that I've gotten good results by converting finished Excel metadata sheets into csv via [csvkit](https://csvkit.readthedocs.io/en/540/), which with one command converts Excel to csv (I'd imagine the process would be similar going from Google Sheets).

The only thing that didn't seem to come over clean were the leading zeros in Unique Object IDs. Surprisingly, newlines com

[2016-10-31 17:09] remerjohnson commented on #2
@mcritchlow I believe so, but I've attached an example URI from the id.loc.gov ISO639-2 authorities. Each URI seems to have a good English label for both the MADS authoritativeLabel and the skos:prefLabel. Let me know if that works @lsitu, or I can just provide a csv with the URIs + labels (and maybe the codes as well?).

Also, are we sticking with ISO639-2? :smile: And using id.loc.gov is better

[2016-10-31 17:15] arwenhutt commented on #34
How does csv handle punctuation in values?  Do conversion processes from excel or sheets automatically escape them?

[2016-10-31 17:21] mcritchlow opened #37 "CSV-based ingest for DAMS5 technical r&d"

[2016-10-31 17:26] remerjohnson commented on #34
@arwenhutt Depends on the conversion. In general I believe it puts quotes around all cell values in order to avoid it making incorrect delimiters if it encounters a comma or newline. And in `csvkit` you can specifiy the delimiter (comma is default, so for tsv you just specify it with a -t flag).

Sadly since there is no csv standard, I don't really know how it handles punctuation natively. I just

[2016-10-31 17:27] lsitu commented on #34
@arwenhutt In CSV, it uses two double quotes to escape the double quotes, and any values that includes special characters like new line or comma are wrapped with double quotes.
Yes, conversion processes from excel or sheets automatically escape special characters. I only see sometimes we could get corrupted diacritics if it wasn't handled correctly during typing or parsing with Excel, and it could

[2016-10-31 17:39] arwenhutt commented on #34
I think the escaping would need to be automatic and fairly reliable because it's not possible for us to hand edit all instances of punctuation in metadata files, or expect data providers to do so.

It sounds like another consideration is which tools it would allow/disallow us to use, and the implications for workflow.  If I'm understanding correctly, it sounds like @remerjohnson you're saying that

[2016-10-31 17:49] lsitu commented on #2
@remerjohnson I think we can extract it from other formats. Do the CVs (URI and Label (English)) from the tab delimited format http://id.loc.gov/vocabulary/iso639-2.tsv look good?

[2016-10-31 17:59] remerjohnson commented on #2
@lsitu Yup, that looks perfect.

@ucsdlib/domm: do we want to review this, or are we good to okay it and move forward?

[2016-10-31 18:12] ghost commented on #34
I've found that going from CSV or TSV to a spreadsheet (Excel, OpenOffice, LibreOffice, Google) can result in character encoding problems.  You have to be very careful to set the correct encoding in the text import wizard.

I see the merit of moving to a generic file format, like CSV or TSV, but Excel files are just as ubiquitous. OpenOffice, LibreOffice, Google have the ability save to .xlsx.  Si

[2016-10-31 18:23] remerjohnson commented on #34
Well, let me clarify. Getting Excel into csv is pretty lossless, as is csv to Excel (there's many ways to accomplish this, but my main method is to clean/wrangle the metadata we get in a csv in OpenRefine first, and it can output to Excel easily to get started on the template wrangling).

@GregReser you have these problems because of how Windows/Excel is treating the csv, not any inherent weakness

[2016-10-31 18:26] arwenhutt commented on #34
Yeah, it sounds like CSV/TSV to Excel isn't a good option.

Excel to CSV (with a conversion tool), sounds like it might still be possible, but we would want to be pretty confident about character encoding in whatever path we're using.

From the metadata side, we would probably still want to primarily "deal in" excel with data providers (or sheets when that works for the project) an only convert to

[2016-10-31 18:32] remerjohnson commented on #34
@arwenhutt csv to Excel can happen. I think we're focusing a bit too much on using only one tool here (Excel), and that isn't necessary. I use csv along the process at different points currently.

What I mean is I don't think this is a zero sum, all-or-nothing thing where we tally the most "pros".

What csv deposit would get us is the potential to gemify this tool to share with Hydra. That seems l

[2016-10-31 18:35] arwenhutt commented on #34
Agreed.  That's what I was trying to get at a couple of comments ago, that we could continue to use Excel (or others) as a format in which we work, but then we convert to csv for ingest.

My only concern is that we be able to be fairly confident about the reliability of the conversion from our main working tools to the ingest format so that we aren't loosing character encodings, punctuation, etc.

[2016-10-31 18:42] arwenhutt commented on #34
Okay, not sure if it's useful but I started a stub pro and con list: https://github.com/ucsdlib/dams5-cc-pilot/wiki/Pros-cons-of-ingest-formats

Add if you want/think it would be useful, though honestly it seems from the course of the conversation that we might be moving towards a decision.

Trying to synthesize some of this, let me know if any of these statements aren't true:
1. It would be valua

[2016-10-31 19:09] ghost commented on #34
I'm fine with all of that.  Moving to CSV only adds new one step to the ingest process and if it makes the tool more usable to the Hydra community, then it makes sense.

[2016-10-31 23:03] remerjohnson commented on #34
I tested using [my Google Drive template](https://docs.google.com/spreadsheets/d/17KUep1CByFfsRac6ULBpkxLeYLm_vwg5Sv78tNUFDUQ/edit#gid=1277638816) with [specific test data](https://docs.google.com/spreadsheets/d/1L0r2PjPqO9EkJScO7Xn31iCEVJME7YGCi8n1IKz0mEo/edit#gid=1277638816), and the resulting csv export from Sheets was clean. (Again, csv will only output the "current sheet", and leading zeroes

[2016-11-01 18:01] arwenhutt commented on #34
@remerjohnson what do you think?  do you feel pretty comfortable that those four points above are true (especially #4)?

[2016-11-01 18:22] remerjohnson commented on #34
@arwenhutt Yes, although point 2 (and especially 4) has a very big "_yes, BUT_" in that you have to be careful how you're generating that csv. If you do all your wrangling in Excel, then at the end simply save as csv, you're going to have problems because of how Excel encodes that csv, which I believe is ISO-8859-1, not UTF-8.

Some accented or special characters, then, can be garbled since our to

[2016-11-01 18:34] arwenhutt commented on #34
@remerjohnson I think it's reasonable to have a specific path or process to generate csv.  But I do think it needs to integrate relatively well into our current work environments.  It sounds like Google Sheets and OpenRefine are good with integrated tools.

For Excel, can you look into the implementation requirements for csvkit?

Thanks!

[2016-11-01 18:39] remerjohnson commented on #34
@arwenhutt It's also an option to open your completed Excel sheet in LibreOffice, then "Save as" csv, setting the correct options like UTF-8 and "all fields quoted".  Does that work better within the Excel environment?
![amazonia_csv_export_save_as](https://cloud.githubusercontent.com/assets/5183580/19902361/b3eb397c-a027-11e6-9271-4635aae98cb5.png)

[2016-11-01 18:43] arwenhutt commented on #34
I don't know, I haven't used either tool ;)

There just needs to be an option which produces reliable csv output from excel, it sounds like we have two options, so that's good.

To clarify a little further, what if your data doesn't contain accents, non-roman characters, etc.  Is the direct Excel save as option reliable in that case, or are there still issues with punctuation.

[2016-11-01 18:57] remerjohnson commented on #34
Right, from a personal data quality / confidence perspective, I would not want to feed the tool data in encoding it's not expecting, so I would always use something to safely convert it, not Excel.

Might be a little paranoid but I don't know all the little differences in encodings, nor the code that will ultimately process the data.

[2016-11-01 19:39] ghost commented on #34
Just for the hell of it, I have to ask: have we ever had an encoding problem using Excel files in the current ingest stream?  I know we had a problem with date formats and we had to be careful setting those cells to text (and fixing the mess when doing so).  How about character encoding?  Have we seen any mangled encoding on ingest - the text looked correct in Excel (we got it in there somehow and

[2016-11-01 19:55] remerjohnson commented on #34
@GregReser No, not many, but [the filenames with accented characters](https://librarytest.ucsd.edu/dc/object/bd2541285z) problem did crop up which made files outright fail to ingest. And to be honest, none of my collections have had particularly exotic characters, so it is hard to know for sure.

The ingest tool was written around Excel, so it's not surprising that Excel input works well. The prob

[2016-11-01 20:32] ghost commented on #34
It seems like we are looking for a solution to a problem that we don't have - yet.

Some new points to see if we agree on:
1.  Raw CSV data is hard to read and we will want to view it in some other format to analyze and edit it.
2. The most likely format we will view/edit CSV data in is a table.
3. OpenRefine, Excel, OpenOffice, LibreOffice all display tables.  OpenRefine is doing a whole lot more

[2016-11-01 20:40] remerjohnson commented on #34
@GregReser Not sure what you mean by "solution to problem we don't have". The tool needs to be built. Do you mean you're agreeing that you're fine with this tool being made to ingest csv, not Excel (and that Excel can still be used along the process if we want)? Because that I agree with.

[2016-11-01 20:44] mcritchlow commented on #36
Of probably interest that we should all stay on top of. Might help us make some of these decisions:

https://groups.google.com/forum/#!topic/hydra-tech/1JAmGZnbfhM

[2016-11-01 21:06] ghost commented on #34
@remerjohnson I mean we've successfully figured out how to ingest .xlsx files but we're putting a lot of effort into figuring out how to ingest .csv files and talking about adding more steps to the workflow.

Honestly, I think .csv files are fine. We'll adapt our workflow to whatever is best for the long term and for the larger community.  I was just having a moment where I had to wonder why we ar

[2016-11-01 21:21] arwenhutt commented on #34
Thanks for all the great discussion guys.

I think I have enough information to make a **DOMM recommendation for CSV as an ingest format**.

As far as the Excel to CSV conversion, it sounds like there are a number of possible paths.  I'll be creating a ticket to look at investigating the options, making recommendations for conversion tools/paths, and creating documentation.

[2016-11-01 21:22] #34 closed, assigned to arwenhutt

[2016-11-01 21:45] arwenhutt opened #39 "Initial template for CSV import"
Create an initial csv import template to be used for initial tool R&D.

Focusing on:
1. hierarchical components
2. linked records

[2016-11-01 22:04] arwenhutt opened #40 "Review samples of CC access control metadata"
Generate samples of access control metadata in CC

[2016-11-02 16:01] remerjohnson commented on #21
I'd definitely like to see how UCSB is tackling this. From the talk in the #metadata Hydra Slack channel, I don't see any talk similar to ours of making machine actionable dates derived from other dates; if anything, it seems they go in reverse, of getting a prefLabel of a date from the "provided" date. So maybe examples from other institutions can clarify some of this.

[2016-11-08 22:22] hweng commented on #32
@mcritchlow I've updated solr schema: https://github.com/ucsdlib/dams5-cc-pilot/blob/master/solr/config/schema.xml
But after restart solr,  I checked solr schema in development it is still the old file: http://localhost:8983/solr/#/hydra-development/files?file=schema.xml

Do you know if the above is the correct file path to change the schema.xml?

[2016-11-08 22:24] hweng commented on #32
@mcritchlow Never mind. I figured out.

[2016-11-10 19:17] hweng commented on #32
@mcritchlow I’ve tried adding the following filter to the analyzer in solr schema.xml :

For lexical sorting,
    `<filter class="solr.PatternReplaceFilterFactory" pattern="(\d+)" replacement="00000$1" replace="all"/>`

For ignore case, `<filter class="solr.LowerCaseFilterFactory"/>`

For ignore punctuation,  `<filter class="solr.PatternReplaceFilterFactory" pattern="([^A-Za-z0-9])" replacement=""

[2016-11-10 20:44] mcritchlow commented on #32
Have you been able to test directly in the Solr instance to confirm that it is Blacklight that is somehow overriding the configuration changes you've made to `schema.xml`?

If we know for sure that it's blacklight, maybe a question in the hydra dev slack channel might get a quick answer? I'm not sure how active the blacklist irc channel is at this point. @lsitu or @VivianChu, any ideas?

[2016-11-10 20:49] lsitu commented on #32
@mcritchlow @hweng  I think it's a good idea to test it directly in Solr to see whether it works first.

[2016-11-10 20:50] hweng commented on #32
@mcritchlow It doesn't seem that blacklight override the facet sorting, but I will check again.

[2016-11-10 22:30] hweng commented on #32
@mcritchlow I've double checked blacklight facets module that it doesn't override facet sorting, which it use default facet index order as I compared it to the result of query executed from solr admin.
But I have some ideas about it, and am trying the new approach. Thanks!

[2016-11-10 22:44] #33 closed, assigned to hweng

[2016-11-10 22:45] #2 closed, assigned to lsitu

[2016-11-10 22:47] mcritchlow commented on #12
@jhriv - if this is done, can we close this out, pass along connection information for everyone via Slack, and then we can open additional tickets as needed for getting things deployed, etc.?

[2016-11-10 23:07] mcritchlow commented on #12
Closing and will get John list of AD groups for access

[2016-11-10 23:07] #12 closed, assigned to jhriv

[2016-11-10 23:28] mcritchlow commented on #35
@arwenhutt - per our discussion today re #37 Do you want to drop template iterations here for @lsitu to use going forward?

[2016-11-10 23:30] arwenhutt commented on #35
Wait, do you mean in 35 or 37?

[2016-11-10 23:33] mcritchlow commented on #35
Sorry, I meant in the Sprint meeting about #37 and next steps as it relates to this ticket.

[2016-11-10 23:37] arwenhutt commented on #35
I'd like to save this issue for when we are closer to the end and creating the final version.  I'll plan on putting a draft here https://github.com/ucsdlib/dams5-cc-pilot/issues/39 .  But if there's a strong preference for otherwise, just let me know.

[2016-11-10 23:43] mcritchlow opened #43 "Add encrypted streaming support for A/V files via Wowza"
A ticket to pair with https://github.com/ucsdlib/encrypted-stream-name/issues/1

[2016-11-11 00:27] mcritchlow commented on #35
Nope that's perfect 👍

[2016-11-14 18:16] arwenhutt commented on #35
I didn't get to this on Friday, will try to get to it this afternoon after my meetings.

[2016-11-14 18:21] lsitu commented on #40
@arwenhutt What's the scope of the sample access metadata you want to review, just some basic access metadata in CC, or something that has organizational customization? Will RDF/xml format work?

[2016-11-14 18:22] lsitu commented on #35
Thanks @arwenhutt .

[2016-11-15 20:27] hweng commented on #32
@mcritchlow I got the updates to solr schema working for case insensitive, removing punctuation and forcing numbers to sort numerically. Here is the result:

![screen shot 2016-11-15 at 11 59 01 am](https://cloud.githubusercontent.com/assets/2432753/20322339/7deb5b8e-ab2d-11e6-9047-6022341f0204.png)

A question for overriding solr default lexically sorting, how may zeros do we want to left-pad a n

[2016-11-15 21:10] hweng commented on #32
@arwenhutt Any suggestion for the above question?

[2016-11-15 22:46] mcritchlow commented on #32
@hweng a quick question on the case sensitivity change, and potentially the numerical padding/sorting. are the displayed values to the end user changing, or just the schema/sorting configuration?

For example, if an original facet value was "OCEAN" is it now going to be displayed to an end user as "ocean"? Or will it still be shown as "OCEAN" but sorted as it if were "ocean"? I believe the latter

[2016-11-16 04:16] hweng commented on #32
@mcritchlow  Yes, the facet value that solr is sorting on would display "ocean".
Or will it still be shown as "OCEAN" but sorted as it if were "ocean"?  No, Solr just won't do that.

But since I've applied the filters only to facet values not records, so if the user click the facet link to the record it still preserve the original case in those fields.

[2016-11-16 17:43] mcritchlow commented on #32
@hweng Thanks for clarifying 👍  I think that distinction is very important information for everyone to know when considering whether this solution will work for us.

@arwenhutt @gamontoya - will that be acceptable?

[2016-11-16 18:33] hweng commented on #32
@mcritchlow @arwenhutt @gamontoya  From my research for the solr sorting options, the workaround solution I applied is to keep the records original fields and only apply filters to the facets that solr is sorting on.  Here you could see that the records still preserve the original fields of  "2", "10", "Mom's", while the facets got removed punctuation and added padding for sorting purpose:

<img w

[2016-11-16 19:54] gamontoya commented on #32
@mcritchlow I'm not sure I captured this correctly. Are you saying that a topic in all caps, like OCEAN would sort at "ocean" and would also display as ocean and not OCEAN?

@hweng On your topic sort example above, are you purposely asking numerical values to appear first?

[2016-11-16 20:56] mcritchlow commented on #32
@gamontoya - I think @hweng's example above does a good job illustrating the solution that she has come up with. Basically, the facet sort isn't ignoring case. It's create lower cased facet values and leaving the show values the same. `moms` vs `Mom's`

I wanted to clarify this for everyone, since I'm not sure this is a desirable outcome.

[2016-11-16 22:28] hweng commented on #32
@gamontoya Yes, in solr sorting the numerical values appears before any alphabet letters a - z.

[2016-11-17 02:55] gamontoya commented on #32
@hweng Now that part, I'm not sure I like. I prefer the numerical values after A-Z. @mcritchlow @arwenhutt Thoughts?

[2016-11-17 17:56] hweng commented on #32
@arwenhutt @gamontoya From DAMS4 data, it is mostly years. Please see the following screening shot. You may not see it from browsing page, but you can view it by direct type in the url: http://library.ucsd.edu/dc/search/facet/subject_topic_sim?facet.sort=index

![screen shot 2016-11-17 at 9 51 31 am](https://cloud.githubusercontent.com/assets/2432753/20401041/11a1fa5c-acac-11e6-92e1-a924dc8eb97b.p

[2016-11-18 19:07] lsitu commented on #40
@arwenhutt I've created the following examples for access control in RDF/XML format, which are the default visibilities in CC for Objects:
Open Access: [access-control-open.rdf.xml.txt](https://github.com/ucsdlib/dams5-cc-pilot/files/600707/access-control-open.rdf.xml.txt)

Your Institution (authenticated): [access-control-authenticated.rdf.xml.txt](https://github.com/ucsdlib/dams5-cc-pilot/files/

[2016-11-21 17:47] mcritchlow opened #44 "R&D: Plum group access model + Sufia"
Following a discussion with Mike Giarlo, he referred me to the group access model that Plum has built and noted that it might be a good fit for Sufia.

Please research how this is built and how it compares to our local assumptions about curator/edit groups and ownership.

If it sufficiently aligns, please consider the level of effort necessary to bring this support into Sufia. Feel free to contact

[2016-11-22 15:00] mcritchlow opened #45 "R&D: Level of effort to port existing pilot modeling code into Sufia"
Please assess the level of effort to port the core data modeling code in the current pilot repository into a Sufia-based repository. What can be moved directly, what needs to be re-written, etc?

The goal is to determine the time involved if the products group decides we do want to make the switch.

[2016-11-22 15:02] mcritchlow opened #46 "R&D: Level of effort to port existing local authority code into Sufia"
Please assess:
* Level of effort to migrate the local authority work done into Sufia
* How our pilot local authority implementation plays against the built-in support for the Questioning Authority gem in Sufia as noted on the built-in features checklist [1]

1. https://wiki.duraspace.org/display/hydra/Built-in+Feature+Checklist

[2016-11-22 15:10] mcritchlow opened #47 "R&D: Ability to have Sufia ingest and CSV batch ingest live in same application"
Currently, Sufia (out of the box) has a single and multi-file based upload process. For our needs, we also need to port a CSV batch ingest into such an application. Please assess the potential challenges in having these two processes live side by side in a Sufia application, and identify and significant risks we should look at assessing prior to a full implementation.

[2016-11-22 15:15] mcritchlow opened #48 "R&D: Evalute workflow support being added to Sufia/CC"
It appears that there is work ongoing in the community to add a workflow [1] system into curation concerns, and likely Sufia as well (probably via mediated deposit [2] as a default). Please investigate this and document what is being added. If possible, please also ask on hydra-tech or the Hydra slack channel what the timeline is for delivering this feature.

1. https://github.com/projecthydra/cur

[2016-11-28 17:24] lsitu opened #49 "Initiate dams5 pilot project basing on Sufia - Horton"
Initiate dams5 pilot projects basing on Sufia with project name Horton as research and codes sharing, which will be served as reference for the product group meeting for decision making.

[2016-11-28 21:16] lsitu commented on #49
@ucsdlib/developers I've initiated the [horton pilot project](https://github.com/ucsdlib/horton) basing on Sufia 7.2.0 with the existing pilot codes for data modeling and local authorities ported successfully. Please check it out and test to make sure it works with your local environment. Thanks.

[2016-11-28 23:17] lsitu commented on #45
Done with commit https://github.com/ucsdlib/horton/commit/1e31772329d72d25ae02c9015be5088ed2f08e6c.

[2016-11-28 23:27] hweng commented on #49
:+1:

[2016-11-29 00:13] VivianChu commented on #49
👍

[2016-11-29 00:35] lsitu commented on #49
Thank you both. It looks like we are good for Sufia.

[2016-11-30 17:20] hweng commented on #32
@arwenhutt @gamontoya If the facet sorting updates looks good to you, I will create the pull request for it. If you have any other thought, would you please comment it here? Thank you!

[2016-11-30 19:29] gamontoya commented on #32
@hweng Can you sort alphabetic followed by numeric?

[2016-11-30 20:18] hweng commented on #32
@gamontoya I thought Matt had already explained to you that the solr sorting don't have options for that and you cannot sort alphabetic followed by numeric.  It have two options sort by index and sort by count. The sort by index is to sort by alphabetic that starts with numeric.
If you want to do very customized facet sorting which do not use solr sorting and blacklight modules, then it would be a

[2016-11-30 23:04] gamontoya commented on #32
@hweng No new project here. Go ahead and make the pull request and we'll see how things look/behave.

[2016-12-03 00:51] arwenhutt opened #50 "Review of rights model"
Before implementation, review rights model to take into account 1) changes in community since it was originally drafted and 2) basic approach to access controls and rights in the chosen hydra head we are developing from.

Dependencies:
- Samples of existing access controls in hydra head we will be building on.

[2016-12-05 18:36] lsitu commented on #44
The implementation for access control in Plum is role base, which has the following roles:
admin - with full permissions (default in hydra)
image_editor - with permissions to read, create, update works, and update files etc.
editor - with permission to read existing works, update public works, update files, and flag public and private works for review etc.
fulfiller - with permission to read exist

[2016-12-05 19:49] hweng commented on #32
@gamontoya Thanks!
A pull request has been submitted to https://github.com/ucsdlib/horton/pull/6

[2016-12-07 18:44] lsitu commented on #44
I've created a PR https://github.com/ucsdlib/horton/pull/7 for the implementation, which is ready for review now. Once we add the admin role to the last user by running command `rake add-admin-role`, we can utilize the hydra-role-management gem to assign role to curators (http://localhost:3000/roles).

[2016-12-08 22:25] hweng commented on #48
In Sufia, a workflow is a state machine generated pragmatically by utilizing work done in a gem called Sipity (https://github.com/ndlib/sipity). Each workflow can look different depending on who has designed it.

The Initial workflow setup include the following steps:
1. Creating a workflow.
2. Translating a workflow into JSON
3. Loading the workflow into the system

[2016-12-08 22:26] hweng commented on #48
For us, the first step is to pull up a whiteboard or piece of paper and diagram out what you think a workflow should look like.
Here are a few tips about drawing out a state machine:

- Draw circles or squares to describe a step in that workflow. (metadata review step, digitization review step, etc.)
- Draw lines in between these circles or squares to describe how to transition from one state to a

[2016-12-08 22:36] hweng commented on #48
For the question: what the timeline is for delivering this feature?

Steve Van Tuyl has been leading this effort, He said "At this time, we seek to find out who might be able to contribute additional time from mid-December through mid-March.  The goal of these additional sprints would be to close out any outstanding issues that may be blocking the merge of core functionality for mediation and work

[2016-12-09 20:33] hweng commented on #32
The group decided not to implement the above solr filters to facet ordering now. Will revisit in the future.

[2016-12-09 20:33] #32 closed, assigned to hweng

[2016-12-12 18:20] arwenhutt commented on #40
Thanks @lsitu - I think we can close this for now.  I'm presuming we'll need to look at Sufia instead now, but it'll be good to have these here in case we need to dive deeper beyond the Sufia layer when implementing access controls.

[2016-12-12 18:20] #40 closed, assigned to mcritchlow, lsitu

[2016-12-12 19:24] lsitu commented on #40
@arwenhutt Yes. FYI, the access control metadata in Sufia is the same, and we've implemented the group access control in https://github.com/ucsdlib/dams5-cc-pilot/issues/44 for the Sufia base app [Horton](https://github.com/ucsdlib/horton), which is basing on Sufia 7.2.0. But the new merging app for CC/Sufia will be coming soon.

[2016-12-19 21:47] lsitu commented on #43
I've added [PR](https://github.com/ucsdlib/horton/pull/9) as pair of https://github.com/ucsdlib/encrypted-stream-name/issues/1 to test the Wowza streaming support:
Enable Wowza streaming with JW Player:
*    config.wowza_enabled = true
Configure Wowza server url base:
*    config.wowza_baseurl = 'lib-streaming.ucsd.edu:1935/dams4-test/_definst_/'
Setting the environment key for encryption:
*    AP

[2016-12-21 18:29] lsitu commented on #47
@mcritchlow I've created a [PR](https://github.com/ucsdlib/horton/issues/10) as the initial commit to demonstrate the support of CSV batch ingest that can live with Sufia ingest. Also we've got both server side files ingest with the browse-everything gem along with the option for local files selection.

[2017-01-13 21:20] #43 closed, assigned to lsitu

[2017-02-03 16:59] mcritchlow commented on #47
@lsitu - what are your thoughts on closing out this ticket? This was intentionally generic, and I'm thinking when we want to get more granular we'll do so in the Horton repo.

[2017-02-03 17:02] lsitu commented on #47
@mcritchlow Yes, I'll close it now.

[2017-02-03 17:02] #47 closed, assigned to lsitu

[2017-02-24 23:13] mcritchlow commented on #39
Closing, work will be done in https://github.com/ucsdlib/horton/issues/46

[2017-02-24 23:13] #39 closed, assigned to arwenhutt

[2017-04-12 17:57] mcritchlow commented on #36
@ucsdlib/domm @lsitu - FYI I'm going to close this and port to Horton.

[2017-04-12 17:57] #36 closed, assigned to arwenhutt

[2017-06-01 15:43] mcritchlow commented on #50
@arwenhutt ijs this still relevant? If so, we should probably close and open a new ticket in horton.

[2017-06-01 15:51] mcritchlow commented on #35
This is mostly settled in Horton other than File Use which has a separate ticket setup for it. Closing in favor of any new tickets being done in Horton.

[2017-06-01 15:51] #35 closed, assigned to arwenhutt

[2017-06-01 15:52] mcritchlow commented on #48
Closing in favor of revisiting this in Horton when time allows. We have the two default workflows bundled in to the Horton app, and can work with @ucsdlib/domm to determine what is the best fit for our needs.

[2017-06-01 15:52] #48 closed, assigned to hweng

[2017-06-05 22:31] arwenhutt commented on #50
@mcritchlow I think this has been taken care of as part of other tickets/work.  If we run into any other issues we can open new tickets to address them.

[2017-06-05 22:31] #50 closed, assigned to mcritchlow, arwenhutt

[2021-02-01 16:51] dolsysmith commented on #32
Discussing this with Schol Comm today: is it possible to make the filter case-insensitive, and to apply case folding to the facets at the time the keyword list is generated? I'm not sure if this is what you referring to above as `rules for automatically merging` keywords with different cases. It seems like the cases in which this would produce undesirable results (e.g., the acronym`OCEAN` gets col